/* #idvalue1 { 8?
/*.classvalue1 {*//*
	background-color: blue;
}
*/
/* #idvalue2 { *//*
.classvalue2 {
	background-color: green;
}
*/
/* #idvalue3 { */
/* .classvalue3 { */
div[test] {
	background-color: yellow;
}
/*
#idvalue4 {
 .classvalue4 { *//*
	background-color: red;
}
*/
