#idvalue1 {
/*.classvalue1 {*/
	background-color: blue;
}

/* #idvalue2 { */
.classvalue2 {
	background-color: green;
}

/* #idvalue3 { */
/* .classvalue3 { */
div[test3] {
	background-color: yellow;
}

#idvalue4 {
/* .classvalue4 { */
	background-color: red;
}
